<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="author" content="Noah Sam">
    <script src="jquery-3.5.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
   
    <title>Login Test</title>
    </head>
    <body>
       <div class="wrapper">
           <div class="content">
            <div class="header">
                <h1>This is the Login Page</h1>
                <p>If user has already registered, they will login here</p>
            </div>
            <div class="form">
                    <h1> Login here </h1>
                    <form method="post" action="/userView" id="loginForm">
                        <label for="fname">Username</label>
                        <input type="text" name="username" placeholder="Enter Your Username" class="inputText"/>                       
                        <label for="fpass">Password</label>
                        <input type="password" name="password" placeholder="Enter Your Password" class="inputText"/>  
                        <input type="submit" value="Submit" class="subButton" />
                    </form>


            </div>

            </div>
            
       </div>
    </body>

</html>